---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Pharmacy</title>
    <link rel="icon" href="/logo.ico" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #dddee0;
  }
</style>
