---
import Table from "../components/Table.astro";
import TableAdd from "../components/TableAdd.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-5xl mx-auto mt-10">
    <Table />
  </div>

  <div class="max-w-5xl mx-auto mt-10">
    <TableAdd />
  </div>
</Layout>
